rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{settingId} {
      allow read: if true;
      allow write: if request.resource.data.celebrationMode is bool;
    }
    match /celebration_history/{eventId} {
      allow read: if true;
      allow create: if request.resource.data.celebrationMode is bool;
    }
    match /deletions/{deletionId} {
      allow read: if true;
      allow write: if request.resource.data.id is string;
    }
    match /live_results/{programId} {
      allow read: if true;
      allow write: if request.resource.data.programId is string;
    }
    match /test/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
